/*      colors used      */
/*  sizes   */
/*      styles        */
/*	resets browser predefined css	*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=latin-ext");
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
form,
ol,
ul,
big,
cite,
code,
del,
em,
img,
q,
s,
strike,
strong,
b,
u,
i {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

@font-face {
  font-family: "Lemon/Milk";
  src: url("LemonMilklight.otf");
  font-weight: 300;
}
* {
  box-sizing: border-box;
  font-family: Roboto;
  font-weight: 300;
}

body {
  background: #ebeced;
  font-size: 16px;
}

header {
  width: 100%;
  height: 512px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #222;
}
header .header-logo {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 10;
}
header .header-logo .header-logo-link {
  width: 338px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
header .header-logo .header-logo-link a {
  text-align: center;
  color: #cb9753;
  transition: 0.5s;
}
header .header-logo .header-logo-link::before {
  content: "";
  display: block;
  position: absolute;
  background: url("img/logo-background-part.png") no-repeat center center;
  background-size: contain;
  filter: opacity(0.16);
  z-index: -1;
  transition: 0.5s;
}
header .header-logo__absolute {
  position: absolute;
}
header > nav {
  width: 1600px;
  height: 96px;
  position: relative;
  z-index: 1;
}
header > nav > ul {
  width: 576px;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
header > nav > ul:first-child {
  float: left;
}
header > nav > ul:last-child {
  float: right;
}
header > nav > ul > li {
  height: inherit;
  float: left;
  flex: 1;
  transition: 0.5s;
}
header > nav > ul > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  float: left;
  font-size: 1.4em;
  font-weight: 100;
  color: #fff;
}
header > nav > ul > li > a:hover {
  font-weight: 300;
  color: #cb9753;
}
header > nav > ul > li > a:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

.hexagon {
  position: relative;
  background-color: #fff;
}
.hexagon::before, .hexagon::after {
  content: "";
  width: 0;
  position: absolute;
}
.hexagon::before {
  bottom: 100%;
}
.hexagon::after {
  width: 0;
  top: 100%;
  margin-bottom: 64px;
}
.hexagon .hexagon-header {
  display: flex;
  align-items: flex-end;
  position: absolute;
  transition: 0.5s;
}
.hexagon .hexagon-header .hexagon-header-description {
  float: left;
  text-align: right;
  margin-right: 8px;
}
.hexagon .hexagon-header .hexagon-header-description #cut-to-shape {
  width: 100%;
  height: 132px;
  float: left;
}
.hexagon .hexagon-header .hexagon-header-description .description-title {
  font-weight: 500;
  color: #cb9753;
}
.hexagon .hexagon-header .hexagon-header-photo {
  float: right;
  background: url("img/photo.png") no-repeat top center;
  background-size: cover;
  transition: 0.5s;
}
.hexagon .hexagon-header .hexagon-header-photo::before {
  content: "";
  display: block;
  position: relative;
  transform: rotate(90deg) skew(30deg);
  background: #cb9753;
  transition: 0.5s;
}
.hexagon .hexagon-body .body-panel {
  padding-top: 64px;
}
.hexagon .hexagon-body .body-panel h4 {
  width: fit-content;
  height: 48px;
  width: -moz-fit-content;
  display: flex;
  align-items: center;
  position: relative;
  left: -10px;
  background: #cb9753;
  padding: 0 32px;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
}
.hexagon .hexagon-body .body-panel h4::before, .hexagon .hexagon-body .body-panel h4::after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  position: absolute;
}
.hexagon .hexagon-body .body-panel h4::before {
  border-left: 10px solid transparent;
  border-top: 10px solid #8c6f4a;
  left: 0;
  top: 48px;
}
.hexagon .hexagon-body .body-panel h4::after {
  border-top: 24px solid transparent;
  border-left: 16px solid #cb9753;
  border-bottom: 24px solid transparent;
  right: -16px;
  top: 0;
}
.hexagon .hexagon-body .body-panel span {
  display: block;
  padding-left: 16px;
  border-left: 4px solid #cb9753;
}
.hexagon .hexagon-body .body-panel span > p {
  text-indent: 1em;
}
.hexagon .hexagon-body .body-panel span > a {
  color: #cb9753;
  text-decoration: underline;
}
.hexagon .hexagon-body .body-panel span > a:hover {
  color: #aaa;
  text-decoration: none;
}
.hexagon .hexagon-body .body-panel span .text {
  font-weight: 400;
}
.hexagon .hexagon-body .body-panel span .text-gold {
  color: #cb9753;
}
.hexagon .hexagon-body .body-panel span .text-dark {
  color: #333;
}
.hexagon .hexagon-body .body-panel .skill-icons {
  text-align: center;
  letter-spacing: 0.25em;
}
.hexagon .hexagon-body .body-panel .skill-icons * {
  transition: 0.5s;
}
.hexagon .hexagon-body .body-panel .skill-icons i {
  color: #ccc;
  text-shadow: 4px 4px 0 #f6f6f6;
}
.hexagon .hexagon-body .body-panel .skill-icons i:hover {
  text-shadow: none;
}
.hexagon .hexagon-body .body-panel .skill-icons .fa-html5:hover {
  color: #e54d26;
}
.hexagon .hexagon-body .body-panel .skill-icons .fa-css3-alt:hover {
  color: #379ad5;
}
.hexagon .hexagon-body .body-panel .skill-icons .fa-js:hover {
  color: #f7df1e;
}
.hexagon .hexagon-body .body-panel .skill-icons .fa-sass:hover {
  color: #cd6799;
}
.hexagon .hexagon-body .body-panel .skill-icons .fa-github:hover {
  color: #222222;
}
.hexagon .hexagon-body .body-panel .skill-icons img.icon {
  filter: grayscale(1) opacity(0.22) contrast(2.4);
  box-shadow: 4px 4px 0 #aaa;
}
.hexagon .hexagon-body .body-panel .skill-icons img.icon:hover {
  filter: none;
  box-shadow: none;
}

@media (min-width: 1430px) and (orientation: landscape) {
  .hexagon {
    width: 1340px;
    margin: calc(calc(773.6720554273px / 2) - 128px) auto 0;
  }
  .hexagon::before, .hexagon::after {
    border-left: 670px solid transparent;
    border-right: 670px solid transparent;
  }
  .hexagon::before {
    border-bottom: 386.8360277136px solid #fff;
  }
  .hexagon::after {
    border-top: 386.8360277136px solid #fff;
  }

  header li > a:hover::before {
    border-bottom: 48px solid transparent;
    border-left: 144px solid #222;
    border-right: 144px solid #222;
  }

  .hexagon-header {
    top: -278px;
  }
  .hexagon-header .hexagon-header-photo {
    width: 192px;
    height: 334px;
  }
  .hexagon-header .hexagon-header-photo::before {
    width: 8px;
    height: 192px;
    left: 92px;
    top: -44.333px;
  }
  .hexagon-header .hexagon-header-description {
    width: 294px;
    height: 132px;
    line-height: 1.2em;
  }
  .hexagon-header .hexagon-header-description #cut-to-shape {
    shape-outside: polygon(0 0, 0 100%, 24px 100%, 24px 62%, 48% 16px, 80% 16px, 80% 0);
  }

  .header-logo__absolute {
    top: 468px !important;
  }

  .hexagon-body .body-panel span {
    font-size: 1.1em;
  }
  .hexagon-body .body-panel .skill-icons {
    font-size: 4em;
  }
  .hexagon-body .body-panel img.icon {
    width: 64px;
    height: 64px;
    margin-bottom: -7px;
  }
}
@media (min-width: 1350px) and (orientation: landscape) {
  header > .header-logo {
    height: 384px;
  }
  header > .header-logo > .header-logo-link a {
    font: 300 64px/0.8 "Lemon/Milk";
  }
  header > .header-logo > .header-logo-link::before {
    width: 338px;
    height: 250px;
  }
}
@media (max-width: 1429px) and (orientation: landscape) {
  .hexagon {
    width: 90vw;
    margin: calc(calc(51.9630484988vw / 2) - 128px) auto 0;
  }
  .hexagon::before, .hexagon::after {
    border-left: 45vw solid transparent;
    border-right: 45vw solid transparent;
  }
  .hexagon::before {
    border-bottom: 25.9815242494vw solid #fff;
  }
  .hexagon::after {
    border-top: 25.9815242494vw solid #fff;
  }
  .hexagon .hexagon-header {
    top: -250px;
  }
  .hexagon .hexagon-header > .hexagon-header-description {
    width: 294px;
    height: 132px;
  }
  .hexagon .hexagon-header > .hexagon-header-description #cut-to-shape {
    shape-outside: polygon(0 0, 0 100%, 24px 100%, 28px 72%, 58% 16px, 80% 16px, 80% 0);
  }
  .hexagon .hexagon-header > .hexagon-header-description > span {
    font-size: 0.85em;
  }
  @-moz-document url-prefix() {
    .hexagon .hexagon-header > .hexagon-header-description {
      width: 294px;
      height: 126px;
    }
    .hexagon .hexagon-header > .hexagon-header-description #cut-to-shape {
      shape-outside: polygon(0px 0px, 0px 92.43%, 27px 92.41%, 9.52% 66%, 47.66% 16px, 80% 16px, 80% 0px);
    }
    .hexagon .hexagon-header > .hexagon-header-description > span {
      font-size: 0.8em;
    }
  }
  .hexagon .hexagon-header > .hexagon-header-photo {
    width: 128px;
    height: 274px;
  }
  .hexagon .hexagon-header > .hexagon-header-photo::before {
    width: 8px;
    height: 128px;
    left: 60px;
    top: -22.333px;
  }

  header > nav > ul > li > a {
    font-size: 1.3em;
  }

  .header-logo__absolute {
    top: 448px !important;
  }

  .hexagon-body .body-panel span {
    font-size: 1em;
  }
  .hexagon-body .body-panel .skill-icons {
    font-size: 3em;
  }
  .hexagon-body .body-panel .icon {
    width: 48px;
    height: 48px;
    margin-bottom: -5px;
  }
}
@media (min-width: 1270px) and (orientation: landscape) {
  header li {
    height: inherit;
  }
  header li > a:hover {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0) 100%);
    text-shadow: 0 0 50px #cb9753;
  }

  .hexagon-header-photo {
    visibility: initial;
  }
}
@media (min-width: 1270px) and (max-width: 1479px) and (orientation: landscape) {
  header > nav > ul {
    width: 39vw;
  }
  header > nav > ul li > a:hover::before {
    border-bottom: 3.25vw solid transparent;
    border-left: 9.8vw solid #222;
    border-right: 9.8vw solid #222;
  }
}
@media (max-width: 1349px) and (orientation: landscape) {
  .header-logo {
    height: 280px;
  }
  .header-logo > .header-logo-link a {
    font: 300 48px/0.8 "Lemon/Milk";
  }
  .header-logo > .header-logo-link::before {
    width: 338px;
    height: 192px;
  }

  header {
    width: 100%;
    height: 408px;
  }
  header > nav > ul > li > a {
    font-size: 1.2em;
  }

  .header-logo__absolute {
    top: 448px !important;
  }

  .hexagon-body .body-panel span {
    font-size: 0.9em;
  }
  .hexagon-body .body-panel .skill-icons {
    font-size: 3em;
  }
  .hexagon-body .body-panel .icon {
    width: 48px;
    height: 48px;
    margin-bottom: -5px;
  }
}
@media (max-width: 1269px) and (orientation: landscape) {
  header > nav > ul {
    width: 19.5vw;
    flex-flow: column;
  }
  header > nav > ul > li {
    height: 50%;
  }
  header > nav > ul > li > a:hover {
    text-shadow: 0 0 20px #cb9753;
  }
  header > nav > ul > li > a:hover::before {
    border-top: 24px solid #222;
    border-bottom: 24px solid #222;
  }
  header > nav > ul:first-child > li > a:hover {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0) 100%);
  }
  header > nav > ul:first-child > li > a:hover::before {
    border-left: 16px solid transparent;
    left: calc(100% - calc(96px / 6));
  }
  header > nav > ul:last-child > li > a:hover {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0) 100%);
  }
  header > nav > ul:last-child > li > a:hover::before {
    border-right: 16px solid transparent;
  }

  .hexagon-header-photo {
    visibility: hidden;
  }

  .header-logo__absolute {
    top: 332px !important;
  }
}
@media (orientation: landscape) {
  .hexagon-body {
    padding: 64px 0;
  }
  .hexagon-body .body-panel span {
    margin: 16px 128px 16px 76px;
    line-height: 1.8;
  }
}
@media (orientation: portrait) {
  .hexagon {
    width: 90vw;
    margin: 0 5vw;
    position: absolute !important;
    top: 480px;
  }
  .hexagon::before, .hexagon::after {
    border-left: 45vw solid transparent;
    border-right: 45vw solid transparent;
  }
  .hexagon::before {
    border-bottom: 25.9815242494vw solid #fff;
  }
  .hexagon::after {
    border-top: 25.9815242494vw solid #fff;
  }

  header {
    width: 100vw;
    height: 100vh;
  }
  header > nav {
    bottom: 70vw;
    z-index: 11 !important;
  }
  header > nav > ul {
    width: 45vw;
    flex-flow: column;
  }
  header > nav > ul > li {
    width: 36vw;
    height: 50%;
  }
  header > nav > ul > li > a {
    font-size: 1.4em;
  }
  header > nav > ul > li > a:hover {
    text-shadow: 0 0 20px #cb9753;
  }
  header > nav > ul > li > a:hover::before {
    border-top: 24px solid #222;
    border-bottom: 24px solid #222;
  }
  header > nav > ul:first-child {
    margin-left: 5vw;
    align-items: flex-start !important;
  }
  header > nav > ul:first-child > li > a {
    justify-content: flex-start !important;
  }
  header > nav > ul:first-child > li > a:hover {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0) 100%);
  }
  header > nav > ul:first-child > li > a:hover::before {
    border-left: 16px solid transparent;
    left: calc(100% - calc(96px / 6));
  }
  header > nav > ul:last-child {
    margin-right: 5vw;
    align-items: flex-end !important;
  }
  header > nav > ul:last-child > li > a {
    justify-content: flex-end !important;
  }
  header > nav > ul:last-child > li > a:hover {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0) 100%);
  }
  header > nav > ul:last-child > li > a:hover::before {
    border-right: 16px solid transparent;
  }

  .hexagon-body {
    padding: 384px 0;
  }
  .hexagon-body .body-panel span {
    margin: 16px 48px 16px 16px;
    line-height: 1.65;
  }
  .hexagon-body .body-panel .skill-icons {
    font-size: 2em;
  }
  .hexagon-body .body-panel .icon {
    width: 32px;
    height: 32px;
    margin-bottom: -3px;
  }

  .header-logo {
    height: 300px;
    position: absolute !important;
  }
  .header-logo > .header-logo-link a {
    font: 300 48px/0.8 "Lemon/Milk";
  }
  .header-logo > .header-logo-link::before {
    width: 338px;
    height: 192px;
  }

  .hexagon-header {
    top: 181px;
    width: 100% !important;
  }
  .hexagon-header > .hexagon-header-description {
    width: 100%;
    height: 132px;
    position: absolute;
    top: 16px;
    padding: 0 8%;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: center !important;
    margin: 0 !important;
  }
  .hexagon-header > .hexagon-header-description .description-title {
    display: block;
  }
  .hexagon-header > .hexagon-header-description #cut-to-shape {
    display: none;
  }
  .hexagon-header > .hexagon-header-description > span {
    font-size: 0.85em;
  }
  .hexagon-header > .hexagon-header-photo {
    width: 128px;
    height: 274px;
    left: 32px;
    position: absolute;
  }
  .hexagon-header > .hexagon-header-photo::before {
    width: 8px;
    height: 128px;
    left: 60px;
    top: -22.333px;
  }
}

/*# sourceMappingURL=style.css.map */
