/*      colors used      */
$color-main-dark: #222
$color-addit-dark: #333

$color-main-light: #fff
$color-addit-light: #ebeced

$color-main-accents: #cb9753
$color-addit-accents: #aaa
$color-main-darkaccents: #8c6f4a

$transition: .5s

/*  sizes   */
$height-header: 512px

$width-nav: 1600px
$height-nav: 96px

$width-menu: ($width-nav - 448px) / 2

$width-bodypanel: 192px
$height-bodypanel: 48px
$margin-bodypanel: 10px

/*      styles        */
@import reset
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=latin-ext')

@font-face
    font-family: 'Lemon/Milk'
    src: url('LemonMilklight.otf')
    font-weight: 300

@mixin flex-center
    display: flex
    justify-content: center

@mixin size($width, $height)
    width: $width
    height: $height

*
    box-sizing: border-box
    font-family: Roboto
    font-weight: 300

body
    background: $color-addit-light
    color: $color-main-dark
    font-size: 16px

header
    @include size(100%, $height-header)
    @include flex-center
    align-items: flex-end
    background: $color-main-dark

    .header-logo
        position: fixed
        @include flex-center
        align-items: center
        top: 0
        z-index: 10

        .header-logo-link
            @include size(338px, 250px)
            @include flex-center
            align-items: center
            z-index: 0

            a
                text-align: center
                color: $color-main-accents
                transition: $transition

            &::before
                content: ''
                display: block
                position: absolute
                background: url('img/logo-background-part.png') no-repeat center center
                background-size: contain
                filter: opacity(0.16)
                z-index: -1
                transition: $transition

    .header-logo__absolute
        position: absolute

    > nav
        @include size($width-nav, $height-nav)
        position: relative
        z-index: 1

        > ul
            @include size($width-menu, inherit)
            @include flex-center
            align-items: stretch            
            
            &:first-child
                float: left

            &:last-child
                float: right
            
            > li
                height: inherit
                float: left
                flex: 1
                transition: $transition

                > a
                    @include size(100%, 100%)
                    @include flex-center
                    align-items: center
                    position: relative
                    float: left
                    font-size: 1.4em
                    font-weight: 100
                    color: $color-main-light

                    &:hover
                        font-weight: 300
                        color: $color-main-accents
                        
                        &::before
                            content: ''
                            position: absolute
                            top: 0
                            left: 0

.hexagon
    position: relative
    background-color: $color-main-light

    *::selection
        background: $color-addit-light

    h4::selection
        background: unquote('#00000022')

    &::before,
    &::after
        content: ""
        width: 0
        position: absolute

    &::before
        bottom: 100%

    &::after
        width: 0
        top: 100%
        margin-bottom: 64px


    .hexagon-header
        display: flex
        align-items: flex-end
        position: absolute
        transition: $transition
            
        .hexagon-header-description
            float: left
            text-align: right
            margin-right: 8px

            #cut-to-shape
                @include size(100%, 132px)
                float: left

            .description-title
                font-weight: 500
                color: $color-main-accents

        .hexagon-header-photo
            float: right
            background: url('img/photo.png') no-repeat top center
            background-size: cover
            transition: $transition

            &::before
                content: ''
                display: block
                position: relative
                transform: rotate(90deg) skew(30deg)
                background: $color-main-accents
                transition: $transition

    .hexagon-body

        .body-panel
            padding-top: 64px

            h4
                @include size(fit-content, $height-bodypanel)
                width: -moz-fit-content
                display: flex
                align-items: center
                position: relative
                left: -$margin-bodypanel
                background: $color-main-accents
                padding: 0 32px
                font-size: 1.5em
                color: $color-main-light
                text-transform: uppercase

                &::before,
                &::after
                    content: ''
                    @include size(0,0)
                    display: block
                    position: absolute

                &::before
                    border-left: $margin-bodypanel solid transparent
                    border-top: $margin-bodypanel solid $color-main-darkaccents
                    left: 0
                    top: $height-bodypanel

                &::after
                    border-top: $height-bodypanel/2 solid transparent
                    border-left: $height-bodypanel/3 solid $color-main-accents
                    border-bottom: $height-bodypanel/2 solid transparent
                    right: -($height-bodypanel/3)
                    top: 0
                

            > span
                display: block
                padding-left: 16px
                border-left: 4px solid $color-main-accents
                
                > p
                    text-indent: 1em

                > a
                    color: $color-main-accents
                    text-decoration: underline

                    &:hover
                        color: $color-addit-accents
                        text-decoration: none
                
                .text
                    font-weight: 400

                .text-gold
                    color: $color-main-accents

                .text-dark
                    color: $color-addit-dark
            
            #skill-icons
                width: 70%
                margin: auto
                display: flex
                justify-content: space-evenly
                align-items: center
                flex-wrap: wrap

                *
                    transition: $transition
                    
                i
                    color: #ccc
                    text-shadow: 4px 4px 0 #f6f6f6
                    
                    &:hover
                        text-shadow: none

                .fa-html5:hover
                    color: #e54d26
                
                .fa-css3-alt:hover
                    color: #379ad5

                .fa-js:hover
                    color: #f7df1e

                .fa-sass:hover
                    color: #cd6799

                .fa-github:hover
                    color: #222222

                .icon
                    filter: grayscale(1) opacity(.22) contrast(2.4)
                    box-shadow: 4px 4px 0 #aaa

                    &:hover
                        filter: none
                        box-shadow: none
                        
            #work-gallery
                width: 90%
                margin: auto
                display: grid
                grid-template-columns: repeat(5, 1fr)
                grid-template-rows: 140px

                > div
                    @include flex-center
                    align-items: center

                    > span
                        position: relative
                        color: $color-main-light
                        text-align: center
                        font-size: 1em

                        > a
                            color: $color-main-dark
                            font-weight: 500

                > *
                    position: relative
                    background-size: cover
                    background-position: center center
                    border-top: 4px solid #ccc
                    border-bottom: 4px solid #ccc
                    border-right: 4px solid #ccc
                    

                    &:first-child
                        border-left: 4px solid #ccc

                    &:hover
                        border: 4px solid $color-main-accents

                        &::before
                            content: ''
                            position: absolute
                            background: unquote('#cb9753bb')
                            width: 233.19px
                            height: 132px
                            @include flex-center
                            align-items: center


                #gallery-item-1
                    background-image: url('img/gallery-item-1.gif')


    // --------------------------------------------------------------
    // --------------------------------------------------------------
    // FOR 1440p + HIGHER

@media (min-width: 1430px) and (orientation: landscape)
    // hexagon is now rigid with width of 1340px
    $width-hexagon: 1340px
    $height-hexagon: $width-hexagon * (1000/866) / 2
    $hexagon-top-margin: 128px

    .hexagon
        width: $width-hexagon
        margin: calc(calc(#{$height-hexagon} / 2) - #{$hexagon-top-margin}) auto 0

        &::before,
        &::after
            border-left: $width-hexagon/2 solid transparent
            border-right: $width-hexagon/2 solid transparent

        &::before 
            border-bottom: $height-hexagon/2 solid $color-main-light

        &::after
            border-top: $height-hexagon/2 solid $color-main-light
            
    // menus are now rigid with width of 576px 
    $width-menu: ($width-nav - 448px) / 2
                 
    // menu-el ::befores are rigid as well
    header
        li
            > a:hover
                &::before
                    border-bottom: ($width-menu / 12) solid transparent
                    border-left: ($width-menu / 4) solid $color-main-dark
                    border-right: ($width-menu / 4) solid $color-main-dark

    // header (photo+description) are now 100% size                    
    .hexagon-header
        top: -278px

        .hexagon-header-photo
            @include size(192px, 334px)

            &::before
                @include size(8px, 192px)
                left: 92px
                top: -44.333px

        .hexagon-header-description
            @include size(294px, 132px)
            line-height: 1.2em

            #cut-to-shape
                shape-outside: polygon(0 0, 0 100%, 24px 100%, 24px 62%, 48% 16px, 80% 16px, 80% 0)


    // logo stops at 468px
    .header-logo__absolute
        top: 468px !important

    .hexagon-body
        .body-panel
            span
                font-size: 1.1em
            
            #skill-icons
                font-size: 4em

                .icon
                    @include size(64px, 64px)


    // --------------------------------------------------------------
    // --------------------------------------------------------------
    // FOR 1366p + HIGHER

@media (min-width: 1350px) and (orientation: landscape)

    // logo size is now 100%
    header
        > .header-logo
            height: 384px

            > .header-logo-link
                a
                    font: 300 64px/0.8 'Lemon/Milk'

                &::before
                    @include size(338px, 250px)



    // --------------------------------------------------------------
    // --------------------------------------------------------------
    // FOR SMALLER + UP TO 1366px

@media (max-width: 1429px) and (orientation: landscape)
    // hexagon is responsive
    $width-hexagon: 90vw
    $height-hexagon: $width-hexagon * (1000/866) / 2
    $hexagon-top-margin: 128px

    .hexagon
        width: $width-hexagon
        margin: calc(calc(#{$height-hexagon} / 2) - #{$hexagon-top-margin}) auto 0

        &::before,
        &::after
            border-left: $width-hexagon/2 solid transparent
            border-right: $width-hexagon/2 solid transparent

        &::before 
            border-bottom: $height-hexagon/2 solid $color-main-light

        &::after
            border-top: $height-hexagon/2 solid $color-main-light

        //hexagon description and photo are small (not 100%)
        .hexagon-header
            top: -250px
                
            > .hexagon-header-description
                @include size(294px, 132px)

                #cut-to-shape
                    shape-outside: polygon(0 0, 0 100%, 24px 100%, 28px 72%, 58% 16px, 80% 16px, 80% 0)

                > span
                    font-size: 0.85em

                @-moz-document url-prefix()
                    @include size(294px, 126px)

                    #cut-to-shape
                        shape-outside: polygon(0px 0px, 0px 92.43%, 27px 92.41%, 9.52% 66%, 47.66% 16px, 80% 16px, 80% 0px)

                    > span
                        font-size: 0.80em

            > .hexagon-header-photo
                @include size(128px, 274px)

                &::before
                    @include size(8px, 128px)
                    left: 60px
                    top: -22.333px

    // menu font size is "medium"              
    header
        > nav
            > ul
                > li
                    > a
                        font-size: 1.3em
    // logo stops at 448px
    .header-logo__absolute
        top: 448px !important

    // smaller content font size and icon size
    .hexagon-body
        .body-panel
            span
                font-size: 1em
            
            #skill-icons
                font-size: 3em

                .icon
                    @include size(48px,48px)

    

    // --------------------------------------------------------------
    // --------------------------------------------------------------
    // FOR 1280px AND OVER

@media (min-width: 1270px) and (orientation: landscape)
    header
        li
            height: inherit

            > a:hover
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0.04) 0%, rgba(255,255,255, 0) 100%)
                text-shadow: 0 0 50px $color-main-accents


    .hexagon-header-photo
        visibility: initial



    // --------------------------------------------------------------
    // --------------------------------------------------------------
    // FOR 1280px - 1440px
   
@media (min-width: 1270px) and (max-width: 1479px) and (orientation: landscape)
    // menus are now responsive 
    $width-menu: 39vw
                 
    header
        > nav
            > ul
                width: $width-menu
                
                // menu-el ::befores are responsive as well
                li
                    > a:hover
                        &::before
                            border-bottom: ($width-menu / 12) solid transparent
                            border-left: (($width-menu / 4) + 0.05vw) solid $color-main-dark
                            border-right: (($width-menu / 4) + 0.05vw) solid $color-main-dark



    // --------------------------------------------------------------
    // --------------------------------------------------------------
    // FOR SMALLER AND UP TO 1280px

@media (max-width: 1349px) and (orientation: landscape)
    //header is now small (408px instead of 512)
    $height-header: 408px

    .header-logo
        height: 280px

        > .header-logo-link
            a
                font: 300 48px/0.8 'Lemon/Milk'
                
            &::before
                @include size(338px, 192px)

    header
        @include size(100%, $height-header)

        // menu font size is "small"
        > nav
            > ul
                > li
                    > a
                        font-size: 1.2em
    // logo stops at 448px
    .header-logo__absolute
        top: 448px !important
    // smaller content font size and icon size
    .hexagon-body
        .body-panel
            span
                font-size: 0.9em
            
            #skill-icons
                font-size: 3em

                .icon
                    @include size(48px,48px)



    // --------------------------------------------------------------
    // --------------------------------------------------------------
    // FOR SMALLER AND UP TO 1154px(?)

@media (max-width: 1269px) and (orientation: landscape)

    // menus are now responsive AND stacked
    $width-menu: 19.5vw

    header
        > nav
            > ul
                width: $width-menu
                flex-flow: column

                > li
                    height: 50%

                    > a
                        
                        &:hover
                            text-shadow: 0 0 20px $color-main-accents

                            &::before
                                border-top: $height-nav / 4 solid $color-main-dark
                                border-bottom: $height-nav / 4 solid $color-main-dark
                            
            > ul:first-child
                > li
                    > a
                        &:hover
                            background: linear-gradient(to left, rgba(255, 255, 255, 0.04) 0%, rgba(255,255,255, 0) 100%)

                            &::before
                                border-left: $height-nav / 6 solid transparent
                                left: calc(100% - calc(#{$height-nav} / 6))
                            
            > ul:last-child
                > li
                    > a
                        &:hover         
                            background: linear-gradient(to right, rgba(255, 255, 255, 0.04) 0%, rgba(255,255,255, 0) 100%)

                            &::before
                                border-right: $height-nav / 6 solid transparent

    // photo is now hidden
    .hexagon-header-photo
        visibility: hidden
    // 
    .header-logo__absolute
        top: 420px !important


    
    // --------------------------------------------------------------
    // --------------------------------------------------------------
    // ANYTHING HORIZONTAL

@media (orientation: landscape)
    .hexagon-body
        padding: 64px 0

        .body-panel
            > span
                margin: 16px 128px 16px 76px
                line-height: 1.8



    // --------------------------------------------------------------
    // --------------------------------------------------------------
    // HANDHELD 

@media (orientation: portrait)
    $hexagon-top-margin: 40vw
    $margin-menu: 5vw
    $width-menu: (100vw/2) - $margin-menu

    // hexagon is responsive with width of 90vw
    $width-hexagon: 90vw
    $height-hexagon: $width-hexagon * (1000/866) / 2
    
    .hexagon
        width: $width-hexagon
        margin: 0 5vw
        position: absolute !important
        top: 480px

        &::before,
        &::after
            border-left: $width-hexagon/2 solid transparent
            border-right: $width-hexagon/2 solid transparent

        &::before 
            border-bottom: $height-hexagon/2 solid $color-main-light

        &::after
            border-top: $height-hexagon/2 solid $color-main-light
    
    body,
    html
        height: 100%

    header
        @include size(100vw, 100%)

        > nav
            bottom: 55vw

            > ul
                width: $width-menu
                flex-flow: column

                > li
                    width: 36vw
                    height: 50%

                    > a
                        font-size: 1.4em
                        z-index: 3 !important
                        
                        &:hover
                            text-shadow: 0 0 20px $color-main-accents

                            &::before
                                border-top: $height-nav / 4 solid $color-main-dark
                                border-bottom: $height-nav / 4 solid $color-main-dark
                            
            > ul:first-child
                margin-left: $margin-menu
                align-items: flex-start !important

                > li
                    > a
                        justify-content: flex-start !important

                        &:hover
                            background: linear-gradient(to left, rgba(255, 255, 255, 0.04) 0%, rgba(255,255,255, 0) 100%)

                            &::before
                                border-left: $height-nav / 6 solid transparent
                                left: calc(100% - calc(#{$height-nav} / 6))
                            
            > ul:last-child
                margin-right: $margin-menu
                align-items: flex-end !important

                > li
                    > a
                        justify-content: flex-end !important

                        &:hover         
                            background: linear-gradient(to right, rgba(255, 255, 255, 0.04) 0%, rgba(255,255,255, 0) 100%)

                            &::before
                                border-right: $height-nav / 6 solid transparent

    .hexagon-body
        padding: 384px 0 128px

        .body-panel
            > span
                margin: 16px 48px 16px 16px
                line-height: 1.65
            
            #skill-icons
                width: 72%
                margin: auto
                font-size: 3em

                *
                    margin: 5px

                .icon
                    @include size(48px, 48px)

    .header-logo
        height: 300px
        position: absolute !important

        > .header-logo-link
            a
                font: 300 48px/0.8 'Lemon/Milk'
                
            &::before
                @include size(338px, 192px)

    //hexagon description and photo are small (not 100%)
    .hexagon-header
        top: 181px
        width: 100% !important
            
        > .hexagon-header-description
            @include size(100%, 132px)
            position: absolute
            top: 16px
            padding: 0 8%
            font-size: 1.2em
            line-height: 1.5em
            text-align: center !important
            margin: 0 !important

            .description-title
                display: block


            #cut-to-shape
                display: none

            > span
                font-size: 0.85em

        > .hexagon-header-photo
            @include size(128px, 274px)
            left: 32px
            position: absolute

            &::before
                @include size(8px, 128px)
                left: 60px
                top: -22.333px