/*      colors used      */
$colorDarkMain: #222
$colorLightMain: #fff

//$colorDarkSide:
$colorLightSide: #ebeced

$colorAccents: #cb9753


/*  sizes   */
$heightHeader: 512px

$widthNav: 1600px
$heightNav: 96px

$widthMenu: ($widthNav - 448px) / 2

$widthHexagon: 85vw
$heightHexagon: $widthHexagon * (1000/866) / 2

/*      styles        */
@import reset
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=latin-ext')

@font-face
    font-family: 'Lemon/Milk'
    src: 'LemonMilklight.otf'
    font-weight: 300

@mixin flex-center
    display: flex
    justify-content: center

@mixin size($width, $height)
    width: $width
    height: $height

@mixin hexagon-border-top($width, $bg)
    top: 0
    left: 0
    border-bottom: ($width / 10) solid transparent
    border-left: ($width / 2) solid $bg
    border-right: ($width / 2) solid $bg

*
    box-sizing: border-box
    font-family: Roboto
    font-weight: 300

body
    background: $colorLightSide
    font-size: 16px

header
    @include size(100%, $heightHeader)
    @include flex-center
    align-items: flex-end
    background: $colorDarkMain

    .header-logo
        height: 384px
        position: fixed
        @include flex-center
        align-items: center
        top: 0
        z-index: 10

        .header-logo-link
            @include size(338px, 250px)
            @include flex-center
            align-items: center
            z-index: 0

            a
                text-align: center
                font: 300 64px/0.8 'Lemon/Milk'
                color: $colorAccents

            &::before
                content: ''
                @include size(338px, 250px)
                display: block
                position: absolute
                background: url('img/logo-background-part.png') no-repeat center center
                filter: opacity(0.16)
                z-index: -1

    .header-logo__absolute
        position: absolute
        top: 512px !important

    > nav
        @include size($widthNav, $heightNav)
        position: relative
        z-index: 1

        > ul
            @include size($widthMenu, inherit)
            @include flex-center
            align-items: stretch            
            
            &:first-child
                float: left

            &:last-child
                float: right
            
            > li
                height: inherit
                float: left
                flex: 1

                > a
                    @include size(100%, inherit)
                    @include flex-center
                    align-items: center
                    position: relative
                    float: left
                    font-size: 1.4em
                    font-weight: 100
                    color: $colorLightMain

                    &:hover
                        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.04) 0%, rgba(255,255,255, 0) 100%)
                        font-weight: 300
                        color: $colorAccents
                        text-shadow: 0 0 50px $colorAccents
                        
                        &::before
                            content: ''
                            position: absolute
                            @include hexagon-border-top($widthMenu / 2, $colorDarkMain)
.hexagon
    width: $widthHexagon
    min-height: $heightHexagon
    position: relative
    margin: calc(calc(#{$heightHexagon} / 2) - 128px) auto 0
    background-color: $colorLightMain

    &::before,
    &::after
        content: ""
        width: 0
        position: absolute
        border-left: $widthHexagon/2 solid transparent
        border-right: $widthHexagon/2 solid transparent

    &::before 
        border-bottom: $heightHexagon/2 solid $colorLightMain
        bottom: 100%

    &::after 
        width: 0
        border-top: $heightHexagon/2 solid $colorLightMain
        top: 100%


    .hexagon-header
        @include size(470px, 334px)
        display: flex
        justify-content: space-between
        align-items: flex-end
        position: absolute
        left: 44px
        top: -290px
            
        .hexagon-header-description
            @include size(270px, 132px)
            float: left
            text-align: right
            font-size: 1em

            .description-title
                font-weight: 500
                color: $colorAccents

        .hexagon-header-photo
            @include size(192px, 334px)
            float: right
            background: url('img/photo.png') no-repeat bottom center

            &::before
                content: ''
                @include size(8px, 192px)
                display: block
                position: relative
                transform: rotate(90deg) skew(30deg)
                background: $colorAccents
                left: 92px
                top: -44.333px

    .hexagon-body
        padding: 60px 80px

        span
            display: inline-block
            text-align: justify
            font-size: 1.1em
            line-height: 1.414