/*      colors used      */
/*  sizes   */
/*      styles        */
/*	resets browser predefined css	*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=latin-ext");
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
form,
ol,
ul,
big,
cite,
code,
del,
em,
img,
q,
s,
strike,
strong,
b,
u,
i {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

@font-face {
  font-family: "Lemon/Milk";
  src: url("LemonMilklight.otf");
  font-weight: 300;
}
* {
  box-sizing: border-box;
  font-family: Roboto;
  font-weight: 300;
}

body {
  background: #ebeced;
  font-size: 16px;
}

header {
  width: 100%;
  height: 512px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #222;
}
header .header-logo {
  height: 384px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 10;
}
header .header-logo .header-logo-link {
  width: 338px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
header .header-logo .header-logo-link a {
  text-align: center;
  font: 300 64px/0.8 "Lemon/Milk";
  color: #cb9753;
}
header .header-logo .header-logo-link::before {
  content: "";
  width: 338px;
  height: 250px;
  display: block;
  position: absolute;
  background: url("img/logo-background-part.png") no-repeat center center;
  filter: opacity(0.16);
  z-index: -1;
}
header .header-logo__absolute {
  position: absolute;
  top: 448px !important;
}
header > nav {
  width: 1600px;
  height: 96px;
  position: relative;
  z-index: 1;
}
header > nav > ul {
  width: 576px;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
header > nav > ul:first-child {
  float: left;
}
header > nav > ul:last-child {
  float: right;
}
header > nav > ul > li {
  height: inherit;
  float: left;
  flex: 1;
}
header > nav > ul > li > a {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  float: left;
  font-size: 1.4em;
  font-weight: 100;
  color: #fff;
}
header > nav > ul > li > a:hover {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0) 100%);
  font-weight: 300;
  color: #cb9753;
  text-shadow: 0 0 50px #cb9753;
}
header > nav > ul > li > a:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 48px solid transparent;
  border-left: 144px solid #222;
  border-right: 144px solid #222;
}

.hexagon {
  width: 1340px;
  min-height: 773.6720554273px;
  position: relative;
  margin: calc(calc(773.6720554273px / 2) - 128px) auto 0;
  background-color: #fff;
}
.hexagon::before, .hexagon::after {
  content: "";
  width: 0;
  position: absolute;
  border-left: 670px solid transparent;
  border-right: 670px solid transparent;
}
.hexagon::before {
  border-bottom: 386.8360277136px solid #fff;
  bottom: 100%;
}
.hexagon::after {
  width: 0;
  border-top: 386.8360277136px solid #fff;
  top: 100%;
}
.hexagon .hexagon-header {
  width: 470px;
  height: 334px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  left: 24px;
  top: -278px;
}
.hexagon .hexagon-header .hexagon-header-description {
  width: 270px;
  height: 132px;
  float: left;
  text-align: right;
  font-size: 1em;
}
.hexagon .hexagon-header .hexagon-header-description .description-title {
  font-weight: 500;
  color: #cb9753;
}
.hexagon .hexagon-header .hexagon-header-photo {
  width: 192px;
  height: 334px;
  float: right;
  background: url("img/photo.png") no-repeat bottom center;
}
.hexagon .hexagon-header .hexagon-header-photo::before {
  content: "";
  width: 8px;
  height: 192px;
  display: block;
  position: relative;
  transform: rotate(90deg) skew(30deg);
  background: #cb9753;
  left: 92px;
  top: -44.333px;
}
.hexagon .hexagon-body {
  padding: 128px 0;
}
.hexagon .hexagon-body .body-panel h4 {
  width: fit-content;
  height: 44px;
  width: -moz-fit-content;
  display: flex;
  align-items: center;
  position: relative;
  left: -10px;
  background: #cb9753;
  padding: 0 32px;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
}
.hexagon .hexagon-body .body-panel h4::before, .hexagon .hexagon-body .body-panel h4::after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  position: absolute;
}
.hexagon .hexagon-body .body-panel h4::before {
  border-left: 10px solid transparent;
  border-top: 10px solid #8c6f4a;
  left: 0;
  top: 44px;
}
.hexagon .hexagon-body .body-panel h4::after {
  border-top: 22px solid transparent;
  border-left: 14.6666666667px solid #cb9753;
  border-bottom: 22px solid transparent;
  right: -14.6666666667px;
  top: 0;
}
.hexagon .hexagon-body .body-panel span {
  display: block;
  font-size: 1.1em;
  line-height: 1.8;
  padding-left: 16px;
  margin: 32px 128px 32px 76px;
  border-left: 4px solid #cb9753;
}
.hexagon .hexagon-body .body-panel span > p {
  text-indent: 1em;
}
.hexagon .hexagon-body .body-panel span > a {
  color: #cb9753;
  text-decoration: underline;
}
.hexagon .hexagon-body .body-panel span > a:hover {
  color: #aaa;
  text-decoration: none;
}
.hexagon .hexagon-body .body-panel span .text {
  font-weight: 400;
}
.hexagon .hexagon-body .body-panel span .text-gold {
  color: #cb9753;
}
.hexagon .hexagon-body .body-panel span .text-dark {
  color: #333;
}

/*# sourceMappingURL=style.css.map */
